<div [style.display]="'block'" [style.text-align]="textAlign" [style.position]="position">
  <div>
    <label for="block-text-align">text-align: </label>
    <select id="block-text-align" [(ngModel)]="textAlign" (ngModelChange)="saveState()">
      @for (option of ['initial', 'start', 'end', 'left', 'right', 'center', 'justify']; track
      option) {
      <option [value]="option">
        {{ option }}
      </option>
      }
    </select>
  </div>
  <div>
    <label for="block-position">position: </label>
    <select id="block-position" [(ngModel)]="position" (ngModelChange)="saveState()">
      @for (option of ['static', 'relative', 'absolute', 'fixed', 'sticky']; track option) {
      <option [value]="option">
        {{ option }}
      </option>
      }
    </select>
  </div>
</div>
